  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Analyst Details- </h1>
          </div>
             </div>
                  </div><br><br>
                 <form>

                      <div class="form-row">
                       <div class="col-5">
                         <strong>Title:</strong>{{analystDetails?.title}}
                       </div>
                       <div class="col-5">
                         <strong>Name:</strong>{{analystDetails?.name}}          
                       </div>
                     </div><br><br>
                     <div class="form-row">
                      <div class="col-5">
                         <strong>Email:</strong>{{analystDetails?.email}}
                       </div>
                       <div class="col-5">
                         <strong>Organisation:</strong>{{analystDetails?.organisation}}
                       </div>
                     </div><br><br>
                     <div class="form-row">
                       <div class="col-5">
                         <strong>Address:</strong>{{analystDetails?.address}}
                       </div>
                       <div class="col-5">
                         <strong>City:</strong>{{analystDetails?.city}}
                     </div>
                   </div><br><br>
                   <div class="form-row">
                      <div class="col-5">
                         <strong>State:</strong>{{analystDetails?.state}}
                     </div><br><br>
                      <div class="col-5">
                         <strong>Zip:</strong>{{analystDetails?.pincode}}
                     </div><br><br>
                     <div class="col-5">
                         <strong>Phone:</strong>{{analystDetails?.contact}}
                       </div>

                        </div>
                      </form>
                    </div>
                  </div>
                  
                        


